@for $i from 0 to 11 {

  // border-width
  .b#{$i} {
    border: #{$i}px !important;
  }
  .bt#{$i} {
    border-top: #{$i}px !important;
  }
  .bb#{$i} {
    border-bottom: #{$i}px !important;
  }
  .br#{$i} {
    border-right: #{$i}px !important;
  }
  .bl#{$i} {
    border-left: #{$i}px !important;
  }

  // radius
  .b-rad#{$i} {
    border-radius: #{$i}px !important;
  }

}

// style
$border-styles: (solid, dashed, dotted, double);

@each $style in $border-styles {
  .bs-#{$style} {
    border-style: $style !important;
  }
}