/* All */
.b0 {
    border: none !important
}

.b1 {
    border: 1px !important
}

.b2 {
    border: 2px !important
}

.b3 {
    border: 3px !important
}

.b4 {
    border: 4px !important
}

.b5 {
    border: 5px !important
}

/* Top */
.bt0 {
    border-top: 0 !important
}

.bt1 {
    border-top: 1px !important
}

.bt2 {
    border-top: 2px !important
}

.bt3 {
    border-top: 3px !important
}

.bt4 {
    border-top: 4px !important
}

.bt5 {
    border-top: 5px !important
}

/* Bottom */
.bb0 {
    border-bottom: 0 !important
}

.bb1 {
    border-bottom: 1px !important
}

.bb2 {
    border-bottom: 2px !important
}

.bb3 {
    border-bottom: 3px !important
}

.bb4 {
    border-bottom: 4px !important
}

.bb5 {
    border-bottom: 5px !important
}

/* Left */
.bl0 {
    border-left: 0 !important
}

.bl1 {
    border-left: 1px !important
}

.bl2 {
    border-left: 2px !important
}

.bl3 {
    border-left: 3px !important
}

.bl4 {
    border-left: 4px !important
}

.bl5 {
    border-left: 5px !important
}

/* Right */
.br0 {
    border-right: 0 !important
}

.br1 {
    border-right: 1px !important
}

.br2 {
    border-right: 2px !important
}

.br3 {
    border-right: 3px !important
}

.br4 {
    border-right: 4px !important
}

.br5 {
    border-right: 5px !important
}

/* Styles */
.bss {
    border-style: solid !important
}

.bsda {
    border-style: dashed !important
}

.bsdo {
    border-style: dotted !important
}

/* Radius */
.rad0 {
    border-radius: 0 !important
}

.rad1 {
    border-radius: 1px !important
}

.rad2 {
    border-radius: 2px !important
}

.rad3 {
    border-radius: 3px !important
}

.rad4 {
    border-radius: 4px !important
}

.rad5 {
    border-radius: 5px !important
}

.rad10 {
    border-radius: 10px !important
}

.rad20 {
    border-radius: 20px !important
}

.circle {
    border-radius: 50% !important
}

/* Colors */
.bc-white {
    border-color: #ffffff !important
}

.bc-light {
    border-color: #dddddd !important
}

.bc-black {
    border-color: #000000 !important
}

.bc-dark {
    border-color: #333333 !important
}

.bc-brown {
    border-color: #795548 !important
}

.bc-pink {
    border-color: #e91e63 !important
}

.bc-red {
    border-color: #f44336 !important
}

.bc-blue {
    border-color: #2196f3 !important
}

.bc-purple {
    border-color: #9c27b0 !important
}

.bc-deeppurple {
    border-color: #673ab7 !important
}

.bc-lightblue {
    border-color: #03a9f4 !important
}

.bc-cyan {
    border-color: #00bcd4 !important
}

.bc-teal {
    border-color: #009688 !important
}

.bc-green {
    border-color: #4caf50 !important
}

.bc-lightgreen {
    border-color: #8bc34a !important
}

.bc-lime {
    border-color: #cddc39 !important
}

.bc-yellow {
    border-color: #ffeb3b !important
}

.bc-amber {
    border-color: #ffc107 !important
}

.bc-orange {
    border-color: #ff9800 !important
}

.bc-deeporange {
    border-color: #ff5722 !important
}

.bc-gray {
    border-color: #9e9e9e !important
}

.bc-bluegray {
    border-color: #607d8b !important
}

.bc-indigo {
    border-color: #3f51b5 !important
}

.bc-transparent {
    border-color: transparent !important
}