/* Material Text Colors */
.c-white {
    color: #ffffff !important
}

.c-light {
    color: #dddddd !important
}

.c-black {
    color: #000000 !important
}

.c-dark {
    color: #333333 !important
}

.c-brown {
    color: #795548 !important
}

.c-pink {
    color: #e91e63 !important
}

.c-red {
    color: #f44336 !important
}

.c-blue {
    color: #2196f3 !important
}

.c-purple {
    color: #9c27b0 !important
}

.c-deeppurple {
    color: #673ab7 !important
}

.c-lightblue {
    color: #03a9f4 !important
}

.c-cyan {
    color: #00bcd4 !important
}

.c-teal {
    color: #009688 !important
}

.c-green {
    color: #4caf50 !important
}

.c-lightgreen {
    color: #8bc34a !important
}

.c-lime {
    color: #cddc39 !important
}

.c-yellow {
    color: #ffeb3b !important
}

.c-amber {
    color: #ffc107 !important
}

.c-orange {
    color: #ff9800 !important
}

.c-deeporange {
    color: #ff5722 !important
}

.c-gray {
    color: #9e9e9e !important
}

.c-bluegray {
    color: #607d8b !important
}

.c-indigo {
    color: #3f51b5 !important
}

.c-transparent {
    color: transparent !important;
}

/* Material Background Colors */
.bg-white {
    background-color: #ffffff !important
}

.bg-light {
    background-color: #dddddd !important
}

.bg-black {
    background-color: #000000 !important
}

.bg-dark {
    background-color: #333333 !important
}

.bg-brown {
    background-color: #795548 !important
}

.bg-pink {
    background-color: #e91e63 !important
}

.bg-red {
    background-color: #f44336 !important
}

.bg-blue {
    background-color: #2196f3 !important
}

.bg-purple {
    background-color: #9c27b0 !important
}

.bg-deeppurple {
    background-color: #673ab7 !important
}

.bg-lightblue {
    background-color: #03a9f4 !important
}

.bg-cyan {
    background-color: #00bcd4 !important
}

.bg-teal {
    background-color: #009688 !important
}

.bg-green {
    background-color: #4caf50 !important
}

.bg-lightgreen {
    background-color: #8bc34a !important
}

.bg-lime {
    background-color: #cddc39 !important
}

.bg-yellow {
    background-color: #ffeb3b !important
}

.bg-amber {
    background-color: #ffc107 !important
}

.bg-orange {
    background-color: #ff9800 !important
}

.bg-deeporange {
    background-color: #ff5722 !important
}

.bg-gray {
    background-color: #9e9e9e !important
}

.bg-bluegray {
    background-color: #607d8b !important
}

.bg-indigo {
    background-color: #3f51b5 !important
}

.bg-transparent {
    background-color: transparent !important;
}