/* Display */
.dn {
    display: none !important
}

.db {
    display: block !important
}

.dt {
    display: table !important
}

.df {
    display: flex !important
}

.di {
    display: inline !important
}

.dib {
    display: inline-block !important
}

.dit {
    display: inline-table !important
}

.dif {
    display: inline-flex !important
}
