/* Table cell vertical align */
.vam {
    vertical-align: middle !important
}

/* Hidden span */
span.span-hidden {
    color: transparent;
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}